<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p><input type="text"  v-model="thing"><button @click="add()">提交</button></p>
        <h1>正在进行</h1>
        <ul>
            <li v-for="(item,index) in pendingList" @click="addResolveList(index)">{{item}}</li>
        </ul>
        <h1>已经完成</h1>
        <ul>
            <li v-for="(item,index) in resolveList" >{{item}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
     <script>
         let vm = new Vue({
             el: '#app',
             data: {
                 pendingList: [],
                 resolveList: [],
                 thing: ''
             },
             methods: {
                add(){
                    this.pendingList.push(this.thing);
                    console.log(this.pendingList);
                    this.thing = ''
                },
                addResolveList(index){
                    let thing = this.pendingList[index];
                    this.pendingList.splice(index,1)
                    this.resolveList.push(thing)

                }
             }
             });
     </script>
</body>
</html>